* {
  -webkit-font-smoothing: antialiased;
  @import url(https://db.onlinewebfonts.com/c/a082fd3df68a0b54e0d4d794bc38d268?family=Blender+Pro);
  font-family: 'Blender Pro';
  background-color: #1a1b1e;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Blender Pro';
}

p {
  margin-top: 0;
}
