@font-face {
  font-family: Blender Pro;
  src: url("../../static/fonts/BlenderPro.woff2") format("woff2"),
    url("../../static/fonts/BlenderPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Blender Pro";
  background-color: #1a1b1e;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Blender Pro";
}

p {
  margin-top: 0;
}
